<a href="https://colab.research.google.com/github/anselmo-pitombeira/Notebooks/blob/master/Exemplo_Regress%C3%A3o_Linear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Regressão Linear

Exemplo de aplicação de regressão linear ao clássico problema de previsão do valor de imóveis na Cidade de Boston, EUA.

##Importação das bibliotecas

In [2]:
import pandas as pd
import statsmodels.formula.api as st

##Leitura dos dados

In [23]:
dados = pd.read_csv("housing.csv",  header=None, delim_whitespace=True)
dados.columns = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B', 'LSTAT','MEDV']
dados.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

##Filtragem das características de interesse

In [24]:
dados = dados[['PTRATIO','RM', 'LSTAT', 'MEDV']]
dados.head()

   PTRATIO     RM  LSTAT  MEDV
0     15.3  6.575   4.98  24.0
1     17.8  6.421   9.14  21.6
2     17.8  7.185   4.03  34.7
3     18.7  6.998   2.94  33.4
4     18.7  7.147   5.33  36.2

##Criação e ajuste do modelo de regressão

In [25]:
model = st.ols("MEDV ~ RM+LSTAT+PTRATIO",data=dados)
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   MEDV   R-squared:                       0.679
Model:                            OLS   Adj. R-squared:                  0.677
Method:                 Least Squares   F-statistic:                     353.3
Date:                Thu, 12 Aug 2021   Prob (F-statistic):          2.69e-123
Time:                        13:33:48   Log-Likelihood:                -1553.0
No. Observations:                 506   AIC:                             3114.
Df Residuals:                     502   BIC:                             3131.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     18.5671      3.913      4.745      0.000      10.879      26.255
RM             4.5154      0.426     10.603      0.000       3.679       5.352
LSTAT         -0.5718      0.042    -13.540      0.000      -0.655      -0.489
PTRATIO       -0.9307      0.118     -7.911      0.000      -1.162      -0.700
==============================================================================
Omnibus:                      202.072   Durbin-Watson:                   0.901
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1022.153
Skew:                           1.700   Prob(JB):                    1.10e-222
Kurtosis:                       9.076   Cond. No.                         402.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""